{% extends "base.html" %}
{% block title %}CliTwit: ejemplo de uso de la API de twitter{% endblock %}

{% block navbar%}
<form class="navbar-form navbar-right" role="form" action="/search" method="POST">
    <input name="q" type="text" placeholder="Buscar..." class="form-control" action="search" method="GET">
</form>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>Bienvenido a CliTwit</h1>
    <p>Esta es una aplicación de ejemplo del uso de la <a href="https://dev.twitter.com">API</a> de <a
        href="https://twitter.com">twitter</a> para el curso de Newsbots del
    diplomado de comunity manager Arcos</p>
</div>
{% endblock %}
